body {
  font-family: 'Calibri', sans-serif;
  color: #1f497d !important;
  font-size: 11px;
}

.page {
  height: 792px;
  display: flex;
  font-size: 11px;
}

.background {
  background-color: gray;
}

.h1 {
  font-size: 24px;
  font-weight: 700;
}

.subtitle {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

.subtitle2 {
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

.cliente {
  font-size: 16px;
}

.caption {
  font-size: 9px;
}

.details {
  border-top: 1px solid #f79645;
  font-size: 9px;
}

.header {
  margin-bottom: 20px;
}

.table-header {
  background-color: #e36c0a;
  color: white;
}

table.table-borders, th.table-borders, td.table-borders {
  border: 1px solid;
}

.section-header {
  background-color: #f79646;
  color: white;
}

tr:nth-child(even).data  {
  background-color: #fde4d0;
}

tr:nth-child(odd).data {
  background-color: white;
}

table {
  font-size: 12px;
  border-collapse: collapse;
}

td {
  color: #1f497d;
}